pkgbase = whisper.cpp-cuda-bin
	pkgdesc = Port of OpenAI's Whisper model in C/C++ with NVIDIA CUDA optimizations
	pkgver = 1.9.1
	pkgrel = 2
	url = https://github.com/OneNoted/whisper.cpp-cuda-bin
	arch = x86_64
	license = MIT
	depends = libggml-cuda-bin
	depends = cuda
	depends = nvidia-utils
	depends = sdl2-compat
	provides = whisper.cpp=1.9.1
	provides = whisper.cpp-cuda=1.9.1
	conflicts = whisper.cpp
	conflicts = whisper.cpp-cuda
	source = whisper.cpp-cuda-bin-1.9.1-2-x86_64.tar.zst::https://github.com/OneNoted/whisper.cpp-cuda-bin/releases/download/v1.9.1-2/whisper.cpp-cuda-bin-1.9.1-2-x86_64.tar.zst
	sha256sums = 0a81c9f1ee4d9b6a43480400d200ba1ed22a27351772ed56b5aca6061baa6487

pkgname = whisper.cpp-cuda-bin
