pkgbase = whisper.cpp-cuda-bin
	pkgdesc = Port of OpenAI's Whisper model in C/C++ with NVIDIA CUDA optimizations
	pkgver = 1.9.1
	pkgrel = 1
	url = https://github.com/OneNoted/whisper.cpp-cuda-bin
	arch = x86_64
	license = MIT
	depends = libggml-cuda-bin
	depends = cuda
	depends = nvidia-utils
	depends = sdl2-compat
	provides = whisper.cpp=1.9.1
	provides = whisper.cpp-cuda=1.9.1
	conflicts = whisper.cpp
	conflicts = whisper.cpp-cuda
	source = whisper.cpp-cuda-bin-1.9.1-1-x86_64.tar.zst::https://github.com/OneNoted/whisper.cpp-cuda-bin/releases/download/v1.9.1-1/whisper.cpp-cuda-bin-1.9.1-1-x86_64.tar.zst
	sha256sums = 1421c8fe54b92a0103c077fa5a068ed30d94fcf3a661d54914e29da3d81b0369

pkgname = whisper.cpp-cuda-bin
